@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string[] cities = new string[] { "Лондон", "Париж", "Москва" };
    string[] countries = new string[] { "Великобритания", "Франция", "Россия" };
}
@model SelectList
@using BookStore.Helpers

<div class="row">
    <div class="col-sm-4">
        <h3>Города</h3>
        @Html.CreateList(cities)
        <br />
        <h3>Страны</h3>
        <!-- или можно вызвать так -->
        @ListHelper.CreateList(Html, countries)
    </div>
    <div class="col-sm-8">
        <div class="form-group">
            @Html.DropDownList("Author", Model, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.ListBox("countires", new MultiSelectList(new string[] { "Россия", "США", "Китай", "Индия" }), new { @class = "form-control" })
        </div>
        <div>
            <h3>Форма оформления покупки</h3>
            @using (Html.BeginForm("Buy", "Home", FormMethod.Post))
            {
                @Html.Hidden("BookId")
                <div class="form-group">
                    @Html.Label("Person", "Введите свое имя")
                    @Html.TextBox("Person", "", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("Address", "Введите адрес")

                    @Html.TextBox("Address", "", new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-success">Отправить</button>

            }
        </div>
    </div>
</div>